# Local
*.local

# Build
dist
dist:watch

# Dependencies
node_modules/
.pnp
.pnp.js

# Development
.devcontainer
.vscode

# Testing
coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
