# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
*.local

# Build
dist:watch
dist/dev/*
dist/index.d.ts
dist/types/*
dist/core/*
dist/utils/*
dist/index.d.ts
dist/wind.d.ts
dist/wind.variants.d.ts
dist/create.wind.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?