# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
*.local

# Others
website
docs
images
coverage
tests
js

# Test
ts-perf

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.github
.husky
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?