@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(
            to top,
            rgba(5, 5, 5, 0.9) 0%,
            rgba(0, 0, 0, 0.8) 100%
        ),
        radial-gradient(
                at bottom center,
                rgba(41, 41, 41, 0.75) 0%,
                rgba(27, 16, 16, 0.75) 120%
            )
            #ff8635 !important;
    background-blend-mode: multiply, multiply !important;
}

pre {
    background-color: #181110 !important;
    border: 1px solid #4e3433;
}

.dark {
    --shiki-token-keyword: #e96c6c;
    --shiki-token-string: #ba9090;
    --shiki-token-string-expression: #ba9090;
    --shiki-color-text: #dadada;
    --shiki-token-function: #eaaf56;
    --shiki-token-parameter: #f4d8b0;
    --shiki-token-comment: #808995;
    --shiki-token-constant: #f4d8b0;
    --shiki-token-punctuation: #bbbbbb;
    --shiki-token-link: #6ecd8a;
}
