@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
    background-color: rgb(18, 18, 18) !important;
    border: 1px solid rgb(254 243 199 / 0.1) !important;
}

/* for code suggestion blocks */
.highlighted:not(.line) {
    color: #eea84d !important;
    padding: 0 !important;
    cursor: pointer !important;
    font-weight: 400 !important;
    transition: all ease 0.2s !important;
    text-decoration: underline;
    text-decoration-color: transparent;
}
.highlighted:not(.line):hover {
    text-decoration-color: #eea84d;
}

@keyframes appear {
    0% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

.dark {
    --shiki-token-keyword: #ff7777;
    --shiki-token-string: #ba9090;
    --shiki-token-string-expression: #ba9090;
    --shiki-color-text: #dadada;
    --shiki-token-function: #ffca7b;
    --shiki-token-parameter: #ffca7b;
    --shiki-token-comment: #808995;
    --shiki-token-constant: #ffe5c1;
    --shiki-token-punctuation: #bbbbbb;
    --shiki-token-link: #6ecd8a;
}
